<ion-content id="cameraView">
	<ion-list>
		<!--
		<span *ngFor="let item of imagesInUserLocation.items| mapToIterable">
			<img [src]="item.value" style="width:50px;height50px"/>
			{{item.key}}
			<img src=""id="uploadPic"/>
		</span>
		-->
		<span *ngFor="let img of imagesInUserLocation">
			<img [src]="img" style="width:50px;height50px"/>
		</span>
	</ion-list>
  <div id="cameraDiv" style="text-align: center;">
    <button ion-button outline round icon-only (click)="takePicture()">
      <ion-icon name="ion-ios-camera-outline"></ion-icon>
    </button>
  </div>
</ion-content>
